/* color1: 0ED100
color2: 0B9400
color3: 087500 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}
header, nav, #content, footer {
  border: 1px solid black;
}
header {
  height: 50px;
  text-align: center;
}
main { display: flex; }
main, nav, #content { height: calc(100vh - 75px) }
nav { width: 20%; }
nav ul {
  position: relative;
  list-style-type: none;
}
nav ul ul {
  display: none;
  position: absolute;
  top: 0;
  left: 20vw;
}
nav a {
  display: block;
  width: 200px;
  border: 1px solid black;
}
#content { width: 80%; }
footer {
  height: 25px;
  text-align: center;
}
