/* color1: 0ED100
color2: 0B9400
color3: 087500  */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}
header {
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-bottom: 2px solid black;
}
main { display: flex; }
main, nav, #content { height: calc(100vh - 75px) }
nav {
  width: 20%;
  border-right: 2px solid black;
}
nav ul {
  position: relative;
  list-style-type: none;
}
nav ul ul {
  box-sizing: content-box;
  display: none;
  position: absolute;
  top: 40px;
  left: 20vw;
}
#nr2 { top: 80px; }
#nr3 { top: 120px; }
#nr4 { top: 160px; }
nav ul li:hover>ul {
  display: block;
  border-top: 2px solid black;
}
nav li { display: block; }
nav a {
  display: inline-block;
  position: relative;
  width: 20vw;
  height: 40px;
  border-bottom: 2px solid black;
  color: black;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
}
nav ul ul a { border-right: 2px solid black; }
nav svg {
  position: absolute;
  right: 0px;
}
#content { width: 80%; }
footer {
  height: 25px;
  border-top: 2px solid black;
  text-align: center;
}
